################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.LearningManagement/.vs/App.LearningManagement
/App.LearningManagement/App.LearningManagement/obj
/App.LearningManagement/Library.LearningManagement/obj
/App.LearningManagement/App.LearningManagement/bin/Debug/net7.0
/App.LearningManagement/Library.LearningManagement/bin/Debug/net7.0
/App.LearningManagement/.vs/ProjectEvaluation
/App.LearningManagement/MAUI.LearningManagement/bin/Debug
/App.LearningManagement/MAUI.LearningManagement/obj
